<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Thank you to the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> and Michael Hartl for helping me survive this project. Without your step by
  step tutorials on how to build user logins and understand the framework, this
  project would have never been possible. Your CSS help also made the website beautiful.
</p>
<p>
  Also would like to acknowledge the help of the teaching staff, especially Stephen
  Turban and Zach Chauvin for conducting the Rails Seminar and Gabriel Guimaraes for being an awesome TF.
  </p>