<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	I hope you find this product intuitive and helpful! Sign up, enter your budget, then click the home button (or website logo) to add expenses, then click the view profile link in the dropdown or "view graphs" link to see neat graphs detailing your spending!
</p>