<footer class="footer">
  <small>
    <a href="https://www.cs50.net/">A CS50 Final Project</a>
    by <a href="https://www.linkedin.com/in/arunrangarajan">Arun Rangarajan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>